body {
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.grid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  /* background-color: #3d3d3d; */
  transition: 0.1s ease-in;
}


.row:nth-child(even) .cell {
  height: 10px;
}

.row .cell:nth-child(even) {
  width: 10px;
}

.square {
  background-color: #3d3d3d;
}

.game-container {
  padding: 40px;
}

.block, .block-mid, .block-vert, .game-container {
  background-color: #cbcbcb;
}

.block-left {
  background-color: red !important;
}

.block-right {
  background-color: #00ff00 !important;
}

.blockHover {
  background-color: orange !important;
}

.hasBlock {
  background-color: pink !important;
}

.player1 {
  background-color: #ff0000;
}

.player2 {
  background-color: #00ff00;
}

.player3 {
  background-color: #0000ff;
}

.player4 {
  background-color: #ffff00;
}

.player {
  position: absolute;
  width: 40px;
  height: 40px;
}

.game-container {
  position: relative;
}

.activeSetting {
  color: cyan;
}